body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  form {
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: left;
  }
  

  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input {
    width: calc(100% - 16px); /* 100% width minus padding */
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }

  button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  
  /* Optional: Add some spacing between form elements */
  br {
    margin-top: 10px;
  }
  /* ... Existing styles ... */

body.dark-mode {
  background-color: #333;
  color: #fff;
}

.container.dark-mode {
  background-color: #444;
  border-color: #555;
}

form.dark-mode{
  background-color: #333;
  color: #fff;
}

button.dark-mode {
  background-color: #fff;
  color: #333;
}

input.dark-mode{
  background-color: #333;
  color: #fff;

}

  