body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('fondo.jpg');
    background-size: cover;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(73, 71, 92, 0.8);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 36px;
    color: #4CAF50;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

button {
    border-radius: 30px;
    padding: 15px 30px;
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#big-text {
    font-size: 28px;
    color: #4CAF50;
    margin-top: 20px;
}

#paragraph {
    font-size: 16px;
    color: #4CAF50;
    margin-top: 20px;
}
